
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: hsl(210, 36%, 96%);
  color:hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}
h3
 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.25rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h3 {
    font-size: 1.75rem;
  }
  body {
    font-size: 1rem;
  }
  h3 {
    line-height: 1;
  }
}
/*  global classes */

/*
=============== 
Color Generator
===============
*/

.container {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
  padding-left: 2rem;
}
.center {
  display: flex;
  align-items: center;
}
.container h3 {
  margin-bottom: 0;
  margin-right: 2rem;
}

input {
  border-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.btn {
  background: hsl(205, 78%, 60%);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-color: transparent;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .container h3 {
    font-size: 1rem;
  }
  input,
  .btn {
    font-size: 0.85rem;
  }
}
input.error {
  border: 2px solid hsl(360, 67%, 44%);
}
.colors {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
}
.color {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-transform: none;
}
.percent-value {
  margin-bottom: 0;
  color:hsl(209, 61%, 16%);
}
.color-value {
  color:hsl(209, 61%, 16%);
  margin-bottom: 0;
}
.color-light .color-value {
  color: #fff;
}
.color-light .percent-value {
  color: #fff;
}

.alert {
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}
